<template>
  <div>
    <div class="px-3 py-2">
      <p>
        Cras mattis consectetur purus sit amet fermentum. Cras justo odio,
        dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac
        consectetur ac, vestibulum at eros.
      </p>
      <b-img
        src="https://picsum.photos/500/500/?image=54"
        fluid
        thumbnail
      ></b-img>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NavFooter',
}
</script>
